*{
    MARGIN:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width:1525px;
    height: 725px;
}
.container{
    width:900px;
    height:600px;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    left:300px;
    top:100px;
    box-shadow: 20px 10px 40px goldenrod,-30px -20px 20px yellowgreen;

}
h1{
    text-align: center;
    color: brown;
}
.nav{
     position: absolute; 
     top:50px;  
    
    width:900px;
    height:150px;
    margin:0 20px;
}
.nav label{
    font-size:15px;
    font-weight: bold;
}
.nav input{
    border-radius: 8px;
}
.nav1{
    position: absolute;
    top:110px;
    margin:0 20px;
}
h4{
    position: absolute;
    top:-30px;
    color: red;
}
.nav1 label{
    font-size: 15px;
    font-weight: bold;
    color: blue;
}
.nav1 input{
    border-radius: 8px;
}
.nav2{
    position: absolute;
    top:160px;
    margin: 0 20px;
}
.nav2 label{
    font-size: 30px;
    font-weight: bold;
    color: green;
}
.nav2 input{
    border-radius: 8px;
    width:300px;
    height:30px;
}
.nav3{
    position: absolute;
    top:210px;
    margin: 30px 20px;
    
}
.nav3 label{
    font-size: 30px;
    font-weight: bold;
    color: green;
}
.nav3 input{
    border-radius: 8px;
    width:300px;
    height:30px;
}
.nav4{
    position: absolute;
    top:380px;
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin: 0 20px;
}
.nav5{
    position: absolute;
    top:410px;
    margin:  0 20px;
}
.nav6{
    position: absolute;
    top:460px;
    margin: 0 20px;
}
.nav6 label{
    font-size: 20px;
    font-weight: bold;
    color:red;
}
.nav6 input{
    border-radius: 8px;
}
.nav7{
    position: absolute;
    top:550px;
    left:0px;
    background-color:cadetblue;
    
    width:150px;
    height: 30px;
    font-size: 20px;
    letter-spacing: 10px;

}
.nav7 a{
    text-decoration: none;
    color: red;
}
.nav8{
    position: absolute;
    top:550px;
    left:720px;
    background-color: cadetblue;
    width: 150px;
    height: 30px;
    font-size: 20px;
    letter-spacing: 5px;
    color: red;
}

